/* elements */
* {
  margin: 0;
  padding: 0;
}

body {
  background:url(bg.png);
  color: #222;
  font-family: 'Georgia', 'Times', serif;
  line-height: 1.4em;
  margin: 0px auto 18px 0px;
}

a:link {
  color: #2E6E9E;
  text-decoration: none;
}
a:visited {
  color: #660000;
  text-decoration: none;
}
a:hover {
  color: #2E6E9E;
  text-decoration: underline;
}

a img { border-width: 0; }

blockquote {
  border-left: 1px solid #222;
  line-height: 18px;
  font-size: 11pt;
  margin: 20px;
  padding-left: 10px;
}

code {
  font-family: 'DejaVu Sans Mono', 'Courier New', monospace;
  font-size: 12pt;
}

h1, h2, h3, #footer {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: bolder;
  letter-spacing: -1px;
}

h1 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 18px;
}

h2 {
  font-size: 24px;
  line-height: 22px;
  margin-bottom: 18px;
}

h3 {
  font-size: 20px;
  line-height: 22px;
}

li { margin-bottom: 4px; }

p, ul, ol { margin-bottom: 18px; }

ul, ol {
  margin-left: 2em;
}

ul { list-style-type: square; }

hr {
  margin-left: 20%;
  margin-top: 36px;
  margin-bottom: 36px;
  width: 60%;
}


/* html5 */
header, footer, nav, article { display: block; }

header { 
  padding-right: 10%;
  float: right;
  width: 20%;
}

header h1 {
  margin-bottom: 0px;
}

/* classes */
.book-cover {
  float: left;
  margin-right: 10px;
}

.fusiontext a, .fusiontext a:hover, .fusiontext a:visited {
  color: #222;
  text-decoration: none;
}

.post {
  border-bottom: 1px solid #222;
  margin-bottom: 20px;
}

.post p {
  font-size: 12pt;
  line-height: 26px;
}

.post .signoff {
  font-size: 12pt;
  font-style: italic;
  text-align: right;
}

/* ids */
#cse-search-box {
  margin-top: 10px;
}

#footer {
  font-size: 14pt;
}

#fusionad {
  float: right;
  margin: 75px 200px 0 10px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 10pt;
  text-align: center;
  width: 150px;
}

#intro {
  color: #666;
  font-size: 22pt;
  margin-bottom: 24pt;
  margin-top: 24pt;
}

#title { 
  color: #DDD; 
  position: fixed;
}

#title a {
  color: #666;
}

#title a:hover {
  color: #2E6E9E;
}

#title {
  font-size: 18pt;
  font-family: 'DejaVu Sans Mono', 'Courier New', monospace;
}

#wrapper {
  margin-left: 15%;
  width: 53%;
  max-width: 36em;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2)  { 
  header {
    padding-left: 5%;
  }

  #wrapper {
    margin-left: 5%;
  }
} 

