<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="The online writing of Michael Wong" name="description" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Michael Wong - Atom" href="/atom.xml" />
    <title>Michael B Wong &mdash; {{ page.title }}</title>
    {% include analytics.html %}
  </head>
  <body>
    <header>
      <h1 id="title">
        <a href="/" title="Home">Michael B Wong</a> &mdash;
        <a href="/archive.html" title="Archive">blog archive</a> &middot;
        <a href="/projects.html">projects</a> 
      </h1>
    </header>
    <div id="wrapper">
      {{ content }}
    </div>
  </body>
</html>
