<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="A blog by Michael B Wong" name="description" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/atom+xml" title="Michael Wong - Atom" href="/atom.xml" />
    <title>Michael B Wong</title>
    {% include analytics.html %}
  </head>
  <body>
    <header>
      <h1 id="title">
       michael b wong
       <br/><a href="/#blog">blog</a>
       <br/><a href="/#about" title="About">about me</a><div>
      </h1>
    </header>
    <div id="wrapper">
      {{ content }}
    </div>
  </body>
</html>
