<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    {% include preamble.html %}
    <title>{{ page.title }} &mdash; Michael B. Wong</title>
    {% include analytics.html %}
  </head>
  <body>
    {% include header.html %}
    <div id="wrapper">
      <time datetime="{{ page.date | date: "%Y-%m-%d" }}">
        {{ page.date | date: "%b %d, %Y" }}
      </time>
      <article class="post">
        {{ content }}
        <p>Read more <a href="/">here</a>. Or send me <a href="mailto:mbwong@post.harvard.edu">feedback and comments</a>.</p>
      </article>
    </div>
  </body>
</html>
